<h3>Orig: <%= origin_name %></h3>
<%= form_tag(copy_array_inputs_path, :method=>'get', remote: true, class: 'form-horizontal') do %>
  <% origin.sort.each do |name, value| %>
    <div class='form-group'>
      <label for="origin_array_id" class="col-sm-5 control-label"><%= name %>:</label>
      <div class="col-sm-2">
        <%= select_tag "#{name.downcase.gsub(' ', '_')}_type", options_for_select(select_options, selected: value.split(':').first ), class: 'form-control' %>
      </div>
      <div class="col-sm-5">
        <%= text_field_tag "#{name.downcase.gsub(' ', '_')}_value", pretty_value(value), class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <div class='form-group'>
    <h3>Destination</h3>
    <label for="dest_account_id" class="col-sm-3 control-label">Dest. Account:</label>
    <div class="col-sm-3">
      <%= text_field_tag :dest_account_id, '', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label for="dest_array_id" class="col-sm-3 control-label">Dest Array:</label>
    <div class="col-sm-4">
      <%= text_field_tag :dest_array_id, '', class: 'form-control' %>
    </div>
  </div>
<% end %>
