<h3>Orig: <%= @origin_name %></h3>
<%= form_tag(post_array_inputs_path, :method=>'post', class: 'form-horizontal') do %>
  <% @origin.each do |input| %>
    <div class='form-group'>
      <label for="origin_array_id" class="col-sm-4 control-label"><%= input[:name] %>:</label>
      <div class="col-sm-2">
        <%= hidden_field_tag "input_data[][:name]", input[:name] %>
        <%= select_tag "input_data[][:type]", options_for_select(@input_select_types, selected: input[:type] ), class: 'form-control' %>
      </div>
      <div class="col-sm-3">
        <%= text_field_tag "input_data[][:value]", input[:value], class: 'form-control' %>
      </div>
      <% if input[:type] == 'cred' %>
        <div class="col-sm-3">
          <%= text_field_tag "input_data[][:new_cred_name]", '',class: 'form-control', placeholder: 'new credential name'  %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class='form-group'>
    <h3>Destination</h3>
    <label for="dest_account_id" class="col-sm-3 control-label">Dest. Account:</label>
    <div class="col-sm-3">
      <%= text_field_tag "destination[account_id]", '', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label for="dest_array_id" class="col-sm-3 control-label">Dest Array:</label>
    <div class="col-sm-4">
      <%= text_field_tag "destination[array_id]", '', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-2">
      <%= submit_tag 'Copy Inputs', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
