<h3>Orig: <%= @origin_name %></h3>
<%= form_tag(post_array_inputs_path, :method=>'post', class: 'form-horizontal') do %>
  <% @origin.sort.each do |name, value| %>
    <div class='form-group'>
      <label for="origin_array_id" class="col-sm-5 control-label"><%= name %>:</label>
      <div class="col-sm-2">
        <%= select_tag "input_data[#{name}][type]", options_for_select(@input_select_types, selected: value.first ), class: 'form-control' %>
      </div>
      <div class="col-sm-5">
        <%= text_field_tag "input_data[#{name}][value]", value.last, class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <div class='form-group'>
    <h3>Destination</h3>
    <label for="dest_account_id" class="col-sm-3 control-label">Dest. Account:</label>
    <div class="col-sm-3">
      <%= text_field_tag "destination[account_id]", '', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label for="dest_array_id" class="col-sm-3 control-label">Dest Array:</label>
    <div class="col-sm-4">
      <%= text_field_tag "destination[array_id]", '', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-2">
      <%= submit_tag 'Copy Inputs', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
