<!DOCTYPE html>
<html lang='<%= I18n.locale.to_s %>'>
<head>
  <meta charset='utf-8'>
  <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' name='viewport'>
  <title>
    <%= yield_or_default :title, controller.action_name.titlecase %>
  </title>
  <%= csrf_meta_tags %>
  <%= yield :head %>
<%= javascript_include_tag 'application' %>
<%= stylesheet_link_tag    "application", media: "all" %>

</head>
<body>
  <%= render 'shared/navbar' %>
  <div class='container' id='main-container'>
    <div class='content push'>
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
    </div>
  </div>
  <div id='footer'>
    <div class='container'>
      <%= render 'shared/footer' %>
    </div>
  </div>
</body>
</html>
